@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>If you would like to remove your account from the Fag El-Gamous website, use the delete button below. In order to regain access to certain aspects of this site in the future, you will need to create a new account.</p>
        <p>
            <strong>Deleting your account will permanently remove you from our system, and your information cannot be recovered.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Remove Account</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}