@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<h1>About</h1>
<h3>BYU Egypt Excavation Project</h3>
<br />
<p>
    Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers) for over 25 years. The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies. Detailed background information on this site can be found in the academic article “Rethinking burial dates at a Graeco-Roman Cemetery: Fag el-Gamous, Fayoum, Egypt.”

    During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), gender, age, bone (including skull and teeth) dimensions, items accompanying the mummy, and more. And, of course, there are many, many photographs. Offsite, researchers have performed a variety of analyses on the items excavated including carbon dating, DNA sequencing, and others.
</p>
<br />

<h3>Meet the Team</h3>
<br />
<div class="row">
    <div class="col-3">
        <img src="~/img/Kerry.jpg" width="175" class="rounded-circle" alt="Image of Kerry Muhlestein" />
        <br />
        <br />
        <p>Office: BYU 270L JSB</p>
    </div>
    <div class="col-9">
        <h4>Kerry Muhlestein</h4>
        <p>Kerry is the director of the BYU Egypt Excavation Project. He was selected by the Princeton Review in 2012 as one of the best 300 professors in the nation (the top .02% of those considered). He was also a visiting fellow at the University of Oxford for the 2016–17 academic year. He has published seven books and over fifty-five peer-reviewed articles and has done over eighty academic presentations. He and his wife, Julianne, are the parents of six children, and together they have lived in Jerusalem while Kerry has taught there on multiple occasions. He has served as the chairman of a national committee for the American Research Center in Egypt and serves on their Research Supporting Member Council. He has also served on a committee for the Society for the Study of Egyptian Antiquities and currently serves on their board of trustees and as a vice president of the organization. He has been the co-chair for the Egyptian Archaeology Session of the American Schools of Oriental Research. He is also a senior fellow of the William F. Albright Institute for Archaeological Research. He is involved with the International Association of Egyptologists, and has worked with Educational Testing Services on their AP world history exam.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-3">
        <img src="~/img/Paul.jpeg" width="175" class="rounded-circle" alt="Image of Kerry Muhlestein" />
        <br />
        <br />
        <p>Office: BYU 3139 LSB</p>
    </div>
    <div class="col-9">
        <h4>R. Paul Evans</h4>
        <p>Kerry is the director of the BYU Egypt Excavation Project. He was selected by the Princeton Review in 2012 as one of the best 300 professors in the nation (the top .02% of those considered). He was also a visiting fellow at the University of Oxford for the 2016–17 academic year. He has published seven books and over fifty-five peer-reviewed articles and has done over eighty academic presentations. He and his wife, Julianne, are the parents of six children, and together they have lived in Jerusalem while Kerry has taught there on multiple occasions. He has served as the chairman of a national committee for the American Research Center in Egypt and serves on their Research Supporting Member Council. He has also served on a committee for the Society for the Study of Egyptian Antiquities and currently serves on their board of trustees and as a vice president of the organization. He has been the co-chair for the Egyptian Archaeology Session of the American Schools of Oriental Research. He is also a senior fellow of the William F. Albright Institute for Archaeological Research. He is involved with the International Association of Egyptologists, and has worked with Educational Testing Services on their AP world history exam.</p>
    </div>
</div>