@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Artifacts
<br />
<br />
<h1 class="text-center">Add New Artifact</h1>
<h3 class="text-center">LocationID</h3>
<br />

<br />
<form method="post" asp-controller="Home" asp-action="AddArtifact">
    <div class="form-group">
        <label asp-for="ArtifactDescription">Describe the artifact(s) found in the burial</label>
        <br />
        <textarea class="form-control" asp-for="ArtifactDescription"></textarea>
    </div>
    <br />
    <button class="btn btn-secondary" type="submit">Save Artifact</button>
</form>