@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BiologicalSample
<br />
<br />
<h1 class="text-center">Add New Biological Sample</h1>
<br />
<br />

<div>
    <form method="post" asp-controller="Home" asp-action="AddBioSample">

        <div class="form-group">
            <label asp-for="RackNum">Rack Number</label>
            <input class="form-control" type="number" asp-for="RackNum" style="width: 500px;" />
            <br />
        </div>

        <div class="form-group">
            <label asp-for="BagNum">Bag Number</label>
            <input class="form-control" type="number" asp-for="BagNum" style="width: 500px;" />
            <br />
        </div>

        <div class="form-group">
            <label asp-for="PreviouslySampled">Previously Sampled?</label>
            <select class="form-control" asp-for="PreviouslySampled" style="width: 500px;">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <br />
        </div>

        <div class="form-group">
            <label asp-for="Notes">Notes</label>
            <br />
            <textarea class="form-control" asp-for="Notes" style="width: 500px;"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Initials">Sample Recorder Initials</label>
            <input class="form-control" type="text" asp-for="Initials" maxlength="5" style="width: 500px;" />
            <br />
        </div>

        <button class="btn btn-secondary" type="submit">Save Biological Sample</button>
        <br />
        <br />
        <br />
    </form>
</div>
