@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Location
<br />
<br />
<h1 class="text-center">Add New Location</h1>
<br />
<br />

<form method="post" asp-controller="Home" asp-action="AddLocation" needs-validation>

    <div class="row">
        <div class="form-group col">
            <label asp-for="BurialLocationNs">Direction (North or South)</label>
            <select class="form-control" asp-for="BurialLocationNs">
                <option value="N">North</option>
                <option value="S">South</option>
            </select>
            <small class="form-text text-muted">Direction (north or south) to burial from necropolis datum point.</small>
        </div>
        <br />

        <div class="form-group col">
            <label asp-for="LowPairNs">North/South Low Measurement</label>
            <input class="form-control" type="number" asp-for="LowPairNs" />
            <small class="form-text text-muted">Distance north/south (in meters) from datum point to nearest edge of 10 x 10 meter square.</small>
        </div>
        <br />

        <div class="form-group col">
            <label asp-for="HighPairNs">North/South High Measurement</label>
            <input class="form-control" type="number" asp-for="HighPairNs" required />
            <small class="form-text text-muted">Distance north/south (in meters) from datum point to farthest edge of 10 x 10 meter square.</small>
        </div>
        <br />
    </div>
    <br />
    <br />

    <div class="row">
        <div class="form-group col">
            <label asp-for="BurialLocationEw">Direction (East or West)</label>
            <select class="form-control" asp-for="BurialLocationEw">
                <option value="E">East</option>
                <option value="W">West</option>
            </select>
            <small class="form-text text-muted">Direction (east or west) to burial from necropolis datum point.</small>
        </div>
        <br />

        <div class="form-group col">
            <label asp-for="LowPairEw">East/West Low Measurement</label>
            <input class="form-control" type="number" asp-for="LowPairEw" />
            <small class="form-text text-muted">Distance east/west (in meters) from datum point to nearest edge of 10 x 10 meter square.</small>
        </div>
        <br />

        <div class="form-group col">
            <label asp-for="HighPairEw">East/West High Measurement</label>
            <input class="form-control" type="number" asp-for="HighPairEw" />
            <small class="form-text text-muted">Distance east/west (in meters) from datum point to farthest edge of 10 x 10 meter square.</small>
        </div>
        <br />
    </div>
    <br />
    <br />

    <div class="row">
        <div class="form-group col-3">
            <label asp-for="BurialSubplot">Area Subplot</label>
            <select class="form-control" asp-for="BurialSubplot">
                <option value="NW">NW</option>
                <option value="NE">NE</option>
                <option value="SW">SW</option>
                <option value="SE">SE</option>
            </select>
            <small class="form-text text-muted">Specify quadrant of 10 x 10 meter square</small>
        </div>
    </div>
        <br />

        <button class="btn btn-secondary" type="submit">Save Location</button>
        <br />
        <br />
        <br />
</form>