@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ArtifactViewModel

<br />
<br />
<div class="text-center">
    <h1>Artifacts</h1>
    <h3>@Model.Location.LocationString #@Model.Burial.BurialNumber</h3>
    <br />
    <form method="get" asp-controller="Home" asp-action="AddArtifact">
        <button class="btn btn-secondary" type="submit">Add New Artifact</button>
    </form>
    <br />
</div>
<br />

@if (Model.Artifacts.Count() <= 0)
{
    <p class="text-center">This burial does not have any artifacts.</p>
}

else
{
    @foreach (var a in Model.Artifacts)
    {
        <div class="card mx-auto" style="width: 38rem;">
            <div class="card-body">
                <p class="card-title h5">@a.ArtifactDescription</p>

                <div class="btn-toolbar float-right">
                    <form method="get" asp-controller="Home" asp-action="EditArtifact">
                        <input type="hidden" name="ArtifactId" value="@a.ArtifactId" />
                        <button class="btn btn-info mr-2" type="submit">Edit</button>
                    </form>

                    <form method="post" asp-controller="Home" asp-action="DeleteArtifact">
                        <input type="hidden" name="ArtifactId" value="@a.ArtifactId" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>


                </div>

            </div>
        </div>
        <br />
    }

    <br />
    <br />

    <br />
    <br />

}
