@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Artifacts
<br />
<br />
<h1 class="text-center">Edit Artifact</h1>
<br />
<br />

<form method="post" asp-controller="Home" asp-action="EditArtifact">
    <label asp-for="ArtifactDescription">Describe the artifact(s) found in the burial</label>
    <textarea class="form-control" asp-for="ArtifactDescription"></textarea>
    <input type="hidden" asp-for="ArtifactId" />
    <input type="hidden" asp-for="BurialId" />
    <br />
    <button class="btn btn-secondary" type="submit">Save Changes</button>
    <br />
    <br />
    <br />
</form>

