@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<br />
<br />
<h1 class="text-center">This burial has already been added.</h1>
<br />
<br />
<a class="btn btn-secondary" asp-controller="Home" asp-action="AddBurial">Add New Burial</a>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Burial">View Burials</a>
