@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Location>
    <div class="text-left">
        <br />
        <br />
        <br />
        <h3>BYU Egypt Excavation Project</h3>
        <br />
        <h1>Fag el-Gamous Cemetary Database</h1>
        <br />
        <div max-width="50px">
            <p>Fag el-Gamous (which means Way of the Water Buffalo) is a large and important cemetery <br /> in Egypt that has been under archeological investigation (primarily by BYU researchers) <br /> for over 25 years. During multiple years of study, researchers have excavated <br /> more than 1,000 mummies. </p>
        </div>
        <br />
        <button class="btn-primary" type="button">View Burials</button>
    </div>