@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SavePhotoViewModel

<div>
    <form method="post" asp-action="SavePhotos" enctype="multipart/form-data">
        <input type="hidden" id="burialId" name="burialId" value="@Model.Burial.BurialId" />
        <label asp-for="PhotoFile">Upload Photo</label>
        <input type="file" asp-for="PhotoFile" />

        <label asp-for="Type" />Type</label>
        <select asp-for="Type">
            <option value="Photo" selected>Photo</option>
            <option value="FieldBook">FieldBook</option>
        </select>


        <button class="btn btn-primary" type="submit">Save Photo</button>
    </form>
    <div asp-validation-summary="All"></div>
</div>