@{
    ViewData["Title"] = "Index";
}
@using FagElGamous.Areas.Identity.Data

@model IEnumerable<FagElGamousUser>

<h1>List of Roles</h1>
<a asp-action="Create">Create</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Edit</td>
            <!-- add user role row-->
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in Model)
        {
        <tr>
            <td>@usr.Email</td>
            <td>
                <form asp-action="editUserForm" method="post" asp-controller="Role">
                    <button class="btn btn-sm btn-primary" type="submit">Edit</button>
                    <input type="hidden" value="@usr.Id" name="userId" />
                </form>
            </td>
            <td>
                <form asp-action="deleteUser" method="post" asp-controller="Role">
                    <button class="btn btn-sm btn-primary" type="submit">Delete</button>
                    <input type="hidden" value="@usr.Id" name="userId" />
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
