body {
    background-color: #FAF4EF;
}



h3 {
    font-weight: normal;
}

h5 {
    color: #76A768;
}



.nav-link {
    color: #5387C0 !important;
    font-size: large;
    margin: 15px !important;
}



.logo {
    margin-left: 10px !important;
}

.ml-10 {
    margin-left: 50px !important
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.white:visited {
    color: #5387C0 !important;
    background: #C5D8ED !important;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}


/* Button styles */

.btn {
    margin-left: 0px !important;
}

.btn-primary {
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
    background-color: #E07B5D;
    border-color: #E07B5D;
    padding: 15px 32px;
}

.btn-primary:hover {
    background-color: #C0A534; /* mustard yellow */
    color: white;
    border-color: #C0A534;
}

.btn-primary:active {
    background-color: #C0A534 !important; /* mustard yellow */
    outline-color: #C0A534 !important;
    color: white;
    border-color: #C0A534;
}

.btn-primary:focus {
    background-color: #C0A534 !important; /* mustard yellow */
    outline-color: #C0A534 !important;
    color: white;
    border-color: #C0A534;
}


.btn-secondary {
    color: #FFFFFF;
    font-size: medium;
    font-weight: bold;
    background-color: #E07B5D;
    border-color: #E07B5D;
}

    .btn-secondary:hover {
        background-color: #C0A534; /* mustard yellow */
        color: white;
        border-color: #C0A534;
    }

    .btn-secondary:active {
        background-color: #C0A534 !important; /* mustard yellow */
        outline-color: #C0A534 !important;
        color: white;
        border-color: #C0A534;
    }

    .btn-secondary:focus {
        background-color: #C0A534 !important; /* mustard yellow */
        outline-color: #C0A534 !important;
        color: white;
        border-color: #C0A534;
    }


.btn-danger {
    color: #EC5E21 !important;
    font-size: medium;
    font-weight: bold;
    background-color: #FFFFFF !important;
    border-color: #EC5E21 !important;
}

    .btn-danger:hover {
        background-color: #EC5E21 !important; /* red-orange */
        color: #FFFFFF !important;
        border-color: #EC5E21 !important;
    }

    .btn-danger:active {
        background-color: #EC5E21 !important; /* red-orange */
        outline-color: #EC5E21 !important;
        color: white;
        border-color: #EC5E21;
    }

    .btn-danger:focus {
        background-color: #EC5E21 !important; /* red-orange */
        outline-color: #EC5E21 !important;
        color: white;
        border-color: #EC5E21;
    }


.btn-info {
    color: #FFFFFF !important;
    font-size: medium;
    font-weight: bold;
    background-color: #5387C0 !important;
    border-color: #5387C0 !important;
}

    .btn-info:hover {
        background-color: #9EBCDD !important; /* light blue */
        color: #FFFFFF !important;
        border-color: #9EBCDD !important;
    }

    .btn-info:active {
        background-color: #9EBCDD !important; /* light blue */
        outline-color: #9EBCDD !important;
        color: white;
        border-color: #9EBCDD;
    }

    .btn-info:focus {
        background-color: #9EBCDD !important; /* light blue */
        outline-color: #9EBCDD !important;
        color: white;
        border-color: #9EBCDD;
    }


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}



.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}



body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.search {
    padding: 20px;
}
